input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}
.first {
  margin: 0 auto;
  text-align: center;
}
.divButtons {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}


.second {
  margin-top: 50px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */

  /* color: red; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.form{
  margin: 0 auto;
  text-align: center;
  /* padding-top: 10px; */
  padding: 50px;
  background-color: aqua;
  /* margin: 100px; */
}
.box{
  background-color: aqua;
  /* margin: 150px; */
  /* width: 500px; */
  justify-content: center;
}
button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li {
  display: flex;
  /* align-items: center; */
  margin-bottom: 10px;
  font-size: 24px;
  justify-content: center;
  /* margin-right: 300px; */
}

.editBtn,
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  background-color: #f8b8b8;
  border: none;
  border-radius: 30%;
  cursor: pointer;

}

 .deleteBtn {
  /* margin-left: 10px; */
}

.editBtn {
  
  /* margin-left: 100px; */
} 

.editBtn:hover,
.deleteBtn:hover {
  background-color: #e0e0e0;
}
