body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  input{
    border: none;
    border-bottom: 1px solid #ccc;
  }
  .box {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .tasks li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .tasks li .divButton {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    border: none;
  }
  
  .editBtn {
    cursor: pointer;
    font-size: 10px;
  }
  
  .deleteBtn {
    cursor: pointer;
    font-size: 10px;
  }
  
  .update-btn {
    margin-top: 10px;
    border: none;
    /* background-color: #000; */
    color: #000000;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    padding: 5px;
  }
  
  .buttons .editBtn,
  .buttons .deleteBtn {
    background-color: #ff8080; /* Attracting color */
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons .editBtn:hover,
  .buttons .deleteBtn:hover {
    background-color: #ff9999; /* Attracting color on hover */
  }
  